@import url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/base/jquery-ui.css");

.color-picker {
  width: 200px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.slide {
  width: 200px;

  .ui-slider-handle {
    width: 2.5em;
    text-align: center;
  }

  &__handle {
    display: block;
    font-size: 10px;
    margin-top: 4px;
  }
}