@import "mixins";

#wordpress-reading-progress {

  &-bar {
    position: fixed;
    z-index: 100000;
    left: 0;
    height: 6px;
    width: 100%;
    @include animate(.2s, .0s, transform, ease);

    &.hide {
      transform: translateY(-100%);
    }

    > div {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: inherit;
      width: 0;
      @include animate(.2s, .0s, width, linear);
    }
  }
}